{:paths ["src" "resources"]
 :deps {integrant/integrant {:mvn/version "0.13.1"}
        migratus/migratus {:mvn/version "1.6.3"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
